Source: php-cakephp-database
Section: php
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends: debhelper-compat (= 13), jq, pkg-php-tools
Standards-Version: 4.6.2
Homepage: https://cakephp.org
Vcs-Git: https://github.com/Vitexus/php-cakephp-database.git
Rules-Requires-Root: no

Package: php-cakephp-database
Architecture: all
Depends: ${misc:Depends}, php-cli | php, composer, php-cakephp-core, php-cakephp-chronos, php-cakephp-datasource, php-psr-log
Description: CakePHP Database abstraction library
 Flexible and powerful database abstraction library with a familiar
 PDO-like API for the CakePHP framework.
